Repository jasonruesch/jasonruesch.bak, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Documentation, Bills, Tailwind

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
  - changed-files:
      - any-glob-to-any-file: '*'

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
Documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**
      - any-glob-to-any-file: '**/*.md'

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: ['^feature', 'feature', 'feat']

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: 'main'

Bills:
  - changed-files:
      - any-glob-to-any-file: '**/bills/**'

Tailwind:
  - changed-files:
      - any-glob-to-any-file: '**/tailwind/**'
      - any-glob-to-any-file: '**/tailwind.config.{js|ts}'

feat(jasonruesch): add spacing between layout elements
  libs/ui/src/lib/layout.tsx
Labels: none

feat(tailwind): add test color and set to red
  libs/tailwind/src/lib/tailwind.config.ts
Labels: Tailwind

chore(repo): fallback to disk version
  nx.json
Labels: root

chore(repo): fallback to disk version for all projects
  nx.json
Labels: root

chore(release): publish
  libs/tailwind/CHANGELOG.md
  libs/tailwind/package.json
  package-lock.json
  package.json
Labels: root, Documentation, Tailwind

feat(jasonruesch): add version to footer
  libs/ui/src/lib/layout.tsx
  libs/ui/src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Labels: root

chore(release): publish
  CHANGELOG.md
  package-lock.json
  package.json
Labels: root, Documentation

ci(repo): add staging and production deployment workflows
  .github/workflows/deploy-to-production.yml
  .github/workflows/deploy-to-staging.yml
Labels: none

ci(repo): update workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-to-production.yml
  .github/workflows/deploy-to-staging.yml
  .prettierignore
Labels: root

feat(tailwind): set test color to blue
  libs/tailwind/project.json
  libs/tailwind/src/lib/tailwind.config.ts
Labels: Tailwind

feat(jasonruesch): move version in footer
  libs/ui/src/lib/layout.tsx
Labels: none

chore(release): publish
  libs/tailwind/CHANGELOG.md
  libs/tailwind/package.json
  package-lock.json
  package.json
Labels: root, Documentation, Tailwind
